body{
    background-color: rgb(202, 156, 29);
    font-family: monospace;
    color: white;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
.heading-index{
    text-align: center;
    font-size: 50px;
}
.heading-index a{
    text-decoration: none;
    color: black;
}
.link-list-index{
    list-style: none;
    text-align: center;
}
.link-list-index li{
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
}
.link-list-index li a{
    text-decoration: none;
    color: white;
}
.link-list-index li a:hover{
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}
