*,
*::before,
*::after{
    box-sizing: border-box;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white; 
    width: 100%;
    min-height: 90vh;
}
a{
    color: white;
}
.container{
    max-width: 900px;
    margin: 30px auto;
    border: 1px solid red;
    padding: 30px;
}
li{
    text-align: center;
    list-style: none;
}
h1{
    text-align: center;
}
a:hover{
    color: red;
}